body {
  font-family: $ff;
  line-height: 1.4;
  background: $c-secondary;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.container-out {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .container-in {
    width: $desktop;

    @media print {
      margin: 0;
      display: block;
      width: auto;
    }
  }
}
