/*.layout-enter-active, .layout-leave-active {
  transition: transform .6s
}

.layout-enter {
  transform: translate3d(100%,0,0);
}

.layout-leave-to {
  transform: translate3d(100%,0,0);
}*/


.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

/*
.page-enter-active {
  transition: opacity 0.75s ease-out;
}
.page-leave-active {
  transition: opacity 0.75s ease-in;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
*/
/*.slide-left-enter,
.slide-right-leave-active {
  left: 0;
  transition: transform .6s;
}
.slide-left-leave-active,
.slide-right-enter {
  transition: transform .6s;
  opacity: 0;
  transform: translate(-200px, 0);
}*/


/*.page-enter-active, .page-leave-active {
  transition: transform .6s;
  transform: translate3d(100%,0,0);
}

.page-enter, .page-leave-to  {
  transition: transform .6s;
  transform: translate3d(-100%,0,0);
}*/
