@import 'settings';

body * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  @media print {
    width: 100%;
    height: 100%;
  }
}

body {
  font-family: $ff;
  line-height: 1.4;
  background: $c-secondary;
  color: $c-font-text;
  @media print {
    font-size: 12pt;
    background: $c-white;
  }
}

@page {
  size: A4;
  bleed: 0cm;
}