@import 'settings';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $ff;
  line-height: 1.4;
  background: $c-secondary;
  @media print {
    font-size: 12pt;
  }
}